# The key values for API keys below are not real and provide only to 
# represent the format of the real values
DEBUG=no
# Chingu Test Discord server
# GUILD_ID=330999646284444211
# DISCORD_TOKEN=ABCk9MM4nmgwNET5MDc9ABC9
# Chingu Production Discord server
GUILD_ID=330999646284444211
DISCORD_TOKEN=ABCk9MM4nmgwNET5MDc9ABC9
# Airtable
AIRTABLE_API_KEY=key9r4bSGxmay05bo
AIRTABLE_BASE=appceLf9lkdjwXUO9FU
# Discord Category & Channel name regex patterns
CATEGORY=V\d{2}-🔥$
CHANNEL=[a-z]+-team-\d{2}$
