DEBUG=no
# Chingu Test Discord server
#GUILD_ID=330999646284448029
#DISCORD_TOKEN=ABCk0MM4nmgwNET5MDc4ABC9
# Chingu Production Discord server
GUILD_ID=330999646284448021
DISCORD_TOKEN=ABCk0MM4nmgwNET5MDc4ABC9
# Airtable
AIRTABLE_API_KEY=key8r4bSGxmay55bo
AIRTABLE_BASE=appceLf5lkdjwXUO9FU
# Discord Category & Channel name regex patterns
CATEGORY=V\d{2}-🔥$
CHANNEL=[a-z]+-team-\d{2}$